<%- include('partials/header'); -%>
<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <table>
            <tr>
              <td>
                <img src="/anh1.jpg" alt="smoothie recipe icon"></td>
              <td>
                <div class="content-center">
                  <h1 class="display-3">Hello, Every Body!</h1>
                  <p>My name is thuong, I am 21 years old this year from Phu Yen, also the land of yellow flowers on green grass. Currently, I am a 3rd year student at Lac Hong University and my major is information technology. I study back-end IT with javascript language, more clearly, I like to learn Nodejs, Mongodb. Because it's very interesting to me. In addition to the school hours, I also worked, but only the 1st year, 2nd year only year 3 sprint. And to entertain for work and study every day I often play the guitar to relax. Thank you for listening.</p>
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">More Read &raquo;</a></p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="content-center"><h1>My memories</h1></div>

      <div class="container">
        <div class="row1">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4"id="tron">         
                <img src="/anh2.jpg" alt="smoothie recipe icon">
                <p>Sometimes when I read a book, I don't understand why I read so persistently.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <img src="/anh3.jpg" alt="smoothie recipe icon">
                <p>My high school friends are really easy to get along with, I love them very much.. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <img src="/anh4.jpg" alt="smoothie recipe icon">
                <p>The gangsters of the a13 that day. Handsome and extremely kind.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>
          <hr>
          </div>
         <div class="row2">
            <div class="row">
              <div class="col-md-4">          
                <img src="/anh8.jpg" alt="smoothie recipe icon">
                <p>Anti-corruption cultural rehearsal 2017.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <img src="/anh9.jpg" alt="smoothie recipe icon">
                <p>Camp activities of the evening class 2020. Very happy and meaningful at Buu Long Tourist Area.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <img src="/anh10.jpg" alt="smoothie recipe icon">
                <p>Caste is not the brother at the command camp.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>
            <hr>
        </div>
        <div class="row3">
            <div class="row">
              <div class="col-md-4">          
                <img src="/anh12.jpg" alt="smoothie recipe icon">
                <p>Advertising day of pizzahut in hole nai, Bien Hoa.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <img src="/anh13.jpg" alt="smoothie recipe icon">
                <p>His sentences always tell me and give me the motivation. Good job, fighting.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <img src="/anhnga.jpg" alt="smoothie recipe icon">
                <p>And this is an important part of me, but very indifferent, but something is very interested in me.
                    In times of sadness, I also feel sad.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>
            <hr>
        </div>
      </div> <!-- /container -->

    </main>
<%- include('partials/footer'); -%>