<%- include('partials/header'); -%>

<header class="container">
    <img src="/smoothie.png" alt="">
    <h2>Smoothie Recipes</h2><br>
    <h3>By Thuong Nguyen</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
</header>

<%- include('partials/footer'); -%>